<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>chat bot</p>
    <div id="chatbot">
    <form action="post" id="form"></form>
    <input type="text" id="solent_input" name="solent_input">
    <button style="width: 40px; height: 20px;" id="send" type="submit"> </button>
    </form>
    </div>
</body>

</html>

<style>
#chatbot{
    width: 200px;
    height: 400px;
    background-color: red;
    float: inline-end;
    border-color: gray;
    border-radius: 20px;
    }
    
</style>



